@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section {
    height: 100vh;
    width: 100%;
    position: relative;
    /* background-color: #121321; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    perspective: 1000px;
    background: linear-gradient(90deg, rgb(116, 17, 125), rgb(221, 103, 103));
}
section::before {
    content: "";
    height: 240px;
    width: 240px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(90deg, rgb(17, 26, 125), #63c8a3);
    transform: translate(-150px, -100px);
    border: none;
}
section::after {
    content: "";
    height: 240px;
    width: 240px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(90deg, rgb(17, 26, 125), #63c8a3);
    transform: translate(150px, 100px);
    border: none;
}
.container {
    height: 225px;
    width: 375px;
    position: relative;
    z-index: 100;
    transition: 0.6s;
    transform-style: preserve-3d;
}
.container:hover {
    transform: rotateY(180deg);
}
.card {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    backdrop-filter: blur(25px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 25px;
    position: absolute;
    backface-visibility: hidden;
}
.logo-image {
    width: 48px;
    margin: 10px;
}
h5 {
    font-size: 16px;
    font-weight: 400;
}
.chip-image {
    width: 50px;
}
header , .logo {
    display: flex;
    align-items: center;
}
header {
    justify-content: space-between;
}
.card-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 40px;
}
h6 {
    font-size: 10px;
    letter-spacing: 1px;
}
.number {
    font-size: 18px;
    letter-spacing: 1px;
}
.name {
    margin-top: 20px;
}
.card.back-face {
    border: none;
    padding: 15px 25px 25px 25px;
    transform: rotateY(180deg);
}
h6 {
    font-size: 8px;
}
.magnetic-strip {
    top: 45px;
    left: 0;
    height: 45px;
    width: 100%;
    position: absolute;
    background: #000;
}
.signature {
    margin-top: 80px;
    height: 40px;
    width: 85%;
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: repeating-linear-gradient(#fff, #fff 3px, #efefef 0px, #efefef 9px);
}
i {
    color: #000;
    font-size: 12px;
    padding: 4px 6px;
    background-color: #fff;
    border-radius: 4px;
    margin-right: -30px;
    z-index: -1;
}
.details {
    font-size: 8px;
    margin-top: 15px;
}
